### Telegram bot
# Required.
# Telegram bot token. Take it from https://t.me/BotFather.
BOT_TOKEN=
### Postgres
# Required
POSTGRES_HOST=get_anime_bot.postgres
# Optional.
# Default: `5432`
POSTGRES_PORT=5432
# Optional.
# Default: `$USER`
POSTGRES_USER=admin
# Required
POSTGRES_PASSWORD=secretpass
# Optional.
# Default: `$USER`
POSTGRES_DB=get_anime_bot
# Optional.
# Pass the logging level.
# Default: `debug,sqlx::query=warn,hyper=warn,reqwest=warn`
LOGGING_LEVEL=debug,sqlx::query=warn,hyper=warn,reqwest=warn
### Media parser worker
# Optional.
# Start media parser worker. You can set it to `false` if you don't want to parse media and update the database
# Default: `true`
START_MEDIA_PARSER_WORKER=true
